@import "breakpoints";
@import "colors";
@import "typography";

body {
  background-color: $color-background;
  color: $color-text;
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-body;
  font-weight: 300;
}

a {
  color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  letter-spacing: -0.015em;
  line-height: 1.25;
  margin: 0.5em 0 0.25em;
}

h1 {
  font-size: 44 / $font-size-default * 1rem;
  @media all and (min-width: $breakpoint-md * 1em) {
    font-size: 50 / $font-size-default * 1rem;
  }
}

h2 {
  font-size: 33 / $font-size-default * 1rem;
  @media all and (min-width: $breakpoint-md * 1em) {
    font-size: 36 / $font-size-default * 1rem;
  }
}

h3 {
  font-size: 28 / $font-size-default * 1rem;
  @media all and (min-width: $breakpoint-md * 1em) {
    font-size: 30 / $font-size-default * 1rem;
  }
}

p {
  line-height: 1.3;
}

blockquote {
  margin: 1rem 40rem / $font-size-default;
}

dl {
  line-height: 1.25;

  dt {
    float: left;
    font-weight: bold;
    margin-inline-end: 0.5em;
  }

  dd {
    margin-block-end: 0.5em;
    margin-inline-start: 0.5em;
  }
}

